SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=NO_SUBIR_ESTA_CLAVE

# Contraseñas iniciales. No subir .env a Git.
SC_PASSWORD_MBETANCOURT=
SC_PASSWORD_AREYES=
SC_PASSWORD_OROJAS=
